
section {
    
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.game-container {
    // background-color: #e2e4e7;
    position: relative;
    border: cornsilk 2px solid;
    height: 16 * 1.5rem;
    width: 12 * 1.5rem;
    // display: grid;
    // grid-template-columns: repeat(12, 1.5rem);
    // grid-template-rows: repeat(16, 1.5rem);
}

#canvas {
    height: 450px;
    width: 300px;
    border: solid 2px white;
}